.one {
    font-size: 30px;
    color: aqua;
}

.three {
    background-color: yellow;
    margin: 10px;
}

.one.three {
    border: 2px solid gray;
}

h3 {
    background-color: white;
}

/* .parents > div */
.parents > div {
    color: blueviolet;
    border: 1px dotted black;
    background-color: gainsboro;
    margin: 5px;
}